<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Usuários</title>
    <!--  Nosso CSS -->
    <link rel="stylesheet" href="">
    <!--  BoxIcons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<div id="pre-loader" class="pre-loader">
    <div id="gif-erlen" class="gif-erlen"></div>
</div>

<body>
    <div class="table-zone">
        <table class="table-zone__table-users">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody  id="table-users__body">


            </tbody>
        </table>
    </div>

</body>
    <!--  JS -->
    <script type="module" src="" ></script>
</html>