/* ZONA DE NAVEGAÇÃO */
.useful-zone__navigation-zone {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px 0 30px;

}

.navigation-zone__screen-name {
    font-weight: 500;
}

.navigation-zone__menu-icon {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}


.navigation-zone__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media only screen and (max-width: 1180px) {
    #logout__btn {
        display: none;
    }

    #logout__icon {
        font-size: 1.2rem;
    }


}