.table_zone__table-exams {
    background-color: #fff;
    width: 85%;
    border-collapse: collapse;
    font-size: calc(.4vw + .7vh);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    user-select: none;
    overflow: auto;
}

.table_zone__table-exams thead {
    background-color: #6c7ae0;
    font-weight: 900;
    color: #f0f2f5;
    text-align: center;
    height: 7vh;
}


.table_zone__table-exams th:first-child{
  border-radius:5px 0 0 5px;
}

.table_zone__table-exams th:last-child{
  border-radius:0 5px 5px 0;
}

.table_zone__table-exams tbody tr:nth-last-of-type(even) {
    background-color: rgba(154, 154, 154, 0.10);
}


.table_zone__table-exams th,
.table_zone__table-exams td {
    padding: 1px 15px;
}


.table_zone__table-exams tbody {

}


.table_zone__table-exams tbody tr {
    text-align: center;
    line-height: 7vh;
}

.table_zone__table-exams tbody tr:hover  {
    color: #f1f8ff;
    background-color: rgba(108, 122, 224, 80%);
    opacity: 0.5;
}

@media only screen and (max-width: 1180px) {

    .table_zone__table-exams {
        font-size: calc(1vw + 1vh);
    }
}


@media only screen and (max-width: 1180px) and (orientation:portrait) {

    .table_zone__table-exams thead tr th:nth-child(4n+2) {
        display:  none;
    }

    .table_zone__table-exams tbody tr td:nth-child(4n+2) {
        display:  none;
        /*background-color: #11101d;*/
    }
}
